<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @result.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @result.surname %>
</p>

<p>
  <strong>Jmbg:</strong>
  <%= @result.jmbg %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @result.birthday %>
</p>

<p>
  <strong>Placebirth:</strong>
  <%= @result.placebirth %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @result.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @result.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @result.gender %>
</p>

<p>
  <strong>Username:</strong>
  <%= @result.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @result.password %>
</p>

<p>
  <strong>Category:</strong>
  <%= @result.category %>
</p>

<p>
  <strong>Index:</strong>
  <%= @result.index %>
</p>

<p>
  <strong>Ects:</strong>
  <%= @result.ects %>
</p>

<p>
  <strong>Year:</strong>
  <%= @result.year %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
