<%= form_with(model: job_application, local: true) do |form| %>
  <% if job_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_application.errors.count, "error") %> prohibited this job_application from being saved:</h2>

      <ul>
      <% job_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name,class:"form-control col-sm-5", id: :job_application_name %>
  </div>

  <div class="form-group">
    <%= form.label :surname %>
    <%= form.text_field :surname,class:"form-control col-sm-5", id: :job_application_surname %>
  </div>

  <div class="form-group">
    <%= form.label :JMBG %>
    <%= form.number_field :JBMG,class:"form-control col-sm-5", id: :job_application_JBMG %>
  </div>

  <div class="form-group">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth,class:"form-control col-sm-5", id: :job_application_date_of_birth %>
  </div>

  <div class="form-group">
    <%= form.label :place_of_birth %>
    <%= form.text_field :place_of_birth,class:"form-control col-sm-5", id: :job_application_place_of_birth %>
  </div>

  <div class="form-group">
    <%= form.label :telephone_number %>
    <%= form.number_field :telephone_number,class:"form-control col-sm-5", id: :job_application_telephone_number %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control col-sm-5",id: :job_application_email %>
  </div>

  <div class="form-group">
    <%= form.label :gender %>
    <%= form.text_field :gender,class:"form-control col-sm-5", id: :job_application_gender %>
  </div>

  <div class="form-group">
    <%= form.label :CV %>
    <%= form.text_area :CV,class:"form-control col-sm-5", id: :job_application_CV %>
  </div>

  <div class="form-group">
    <%= form.label :motivation_letter %>
    <%= form.text_area :motivation_letter,class:"form-control col-sm-5", id: :job_application_motivation_letter %>
  </div>
 
  <div class="form-group">
    <%= form.label :job_advertisements_id %>
    <%= form.text_field :job_advertisements_id,class:"form-control col-sm-5", id: :job_application_job_advertisements_id %>
  </div>

  </tbody>
</select> 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
