<%= form_with(model: exam, local: true) do |form| %>
  <% if exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :exam_time %>
    <%= form.datetime_select :exam_time,class:"form-control col-sm-5", id: :exam_exam_time %>
  </div>

  <div class="form-group">
    <%= form.label :exam_place %>
    <%= form.text_field :exam_place,class:"form-control col-sm-5", id: :exam_exam_place %>
  </div>

  <div class="form-group">
    <%= form.label :subject_id %>
    <%= form.text_field :subject_id,class:"form-control col-sm-5", id: :exam_subject_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
