<%= form_with(model: professor, local: true) do |form| %>
  <% if professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
      <% professor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name,class:"form-control col-sm-5", id: :professor_name %>
  </div>

  <div class="form-group">
    <%= form.label :surname %>
    <%= form.text_field :surname,class:"form-control col-sm-5", id: :professor_surname %>
  </div>

   <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone,class:"form-control col-sm-5", id: :professor_phone %>
  </div>

  <div class="form-group">
    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth,class:"form-control col-sm-5", id: :date_of_birth %>
  </div>

   <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email,class:"form-control col-sm-5", id: :email %>
  </div>

  <div class="form-group">
    <%= form.label :courses %>
    <%= form.text_field :courses,class:"form-control col-sm-5", id: :courses %>
  </div>

  <div class="form-group">
    <%= form.label :department %>
    <%= form.text_field :department,class:"form-control col-sm-5", id: :department %>
  </div>

   <div class="form-group">
    <%= form.label :publications %>
    <%= form.text_field :publications,class:"form-control col-sm-5", id: :publications %>
  </div>

  <div class="form-group">
    <%= form.label :cv %>
    <%= form.text_field :cv,class:"form-control col-sm-5", id: :cv %>
  </div>
  <br></br>
  <%= link_to "Download", skini_path(:professor) %>
  <br></br>
 <div class="form-group">
    <%= form.label :academic_history %>
    <%= form.text_field :academic_history,class:"form-control col-sm-5", id: :academic_history %>
  </div>

   <div class="form-group">
    <%= form.label :career_history %>
    <%= form.text_field :career_history,class:"form-control col-sm-5", id: :career_history %>
  </div>

   <div class="form-group">
    <%= form.label :image %>
    <%= form.text_field :image,class:"form-control col-sm-5", id: :image %>
  </div>


  </tbody>
</select>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
