<%= form_with(model: professor, local: true) do |form| %>
  <% if professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
      <% professor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row ">
  <div class="col-md-6">
  <div class="form-group">
    <h5 style="color: gray"><%= form.label :name %></h5>
    <%= form.text_field :name,class:"form-control col-md-12 col-sm-5", id: :professor_name %>
  </div>

  <div class="form-group">
    <h5 style="color: gray"><%= form.label :surname %></h5>
    <%= form.text_field :surname,class:"form-control col-md-12 col-sm-5", id: :professor_surname %>
  </div>

   <div class="form-group">
    <h5 style="color: gray"><%= form.label :phone %></h5>
    <%= form.text_field :phone,class:"form-control col-md-12 col-sm-5",type: :number, id: :professor_phone %>
  </div>

  <div class="form-group">
    <h5 style="color: gray"><%= form.label :date_of_birth %></h5>
    <%= form.date_field :date_of_birth,class:"form-control col-md-12 col-sm-5", id: :date_of_birth %>
  </div>

   <div class="form-group">
    <h5 style="color: gray"><%= form.label :email %></h5>
    <%= form.text_field :email,class:"form-control col-md-12 col-sm-5", id: :email %>
  </div>

  <div class="form-group">
    <h5 style="color: gray"><%= form.label :image %></h5>
    <%= form.text_field :image,class:"form-control col-md-12 col-sm-5", id: :image %>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <h5 style="color: gray"><%= form.label :courses %></h5>
    <%= form.text_area :courses,class:"form-control col-md-12 col-sm-5", id: :courses %>
  </div>

  <div class="form-group">
    <h5 style="color: gray"><%= form.label :department %></h5>
    <%= form.text_field :department,class:"form-control col-md-12 col-sm-5",type: :number, id: :department %>
  </div>

   <div class="form-group">
    <h5 style="color: gray"><%= form.label :publications %></h5>
    <%= form.text_area :publications,class:"form-control col-md-12 col-sm-5",type: :text_area, id: :publications %>
  </div>

  <!--<div class="form-group">
    <%= form.label :cv %>
    <%= form.text_field :cv,class:"form-control col-md-12 col-sm-5", id: :cv %>
  </div>-->
  <!--<br></br>
  <%= link_to "Download", skini_path(:professor) %>
  <br></br>-->
 <div class="form-group">
    <h5 style="color: gray"><%= form.label :academic_history %></h5>
    <%= form.text_area :academic_history,class:"form-control col-md-12 col-sm-5", id: :academic_history %>
  </div>

   <div class="form-group">
    <h5 style="color: gray"><%= form.label :career_history %></h5>
    <%= form.text_area :career_history,class:"form-control  col-md-12 col-sm-5", id: :career_history %>
  </div>
 <div class="actions float-right ">
    <%= form.submit class: "btn btn-block btn-info " %>
  </div>
   
</div>
</div>
  </tbody>
</select>
 
<% end %>
