

  <div class="row">
    <div class="col-md-4">
       <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
          <strong>Automatic Control and Electronics</strong>
        </h2>
        <hr class="divider">
         <h2 class="text-center text-lg text-uppercase my-0">
          <strong>Telecommunication</strong>
        </h2>
           <hr class="divider">
             <h2 class="text-center text-lg text-uppercase my-0">
          <strong>Electronic Powe Engineering</strong>
        </h2>
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
          <strong>Computer Science and Informatics</strong>
        </h2>
        <hr class="divider">


      </div>
    </div>


       <div class="col-md-8">
<table class="table">
  <div class="bg-faded p-4 my-4">
    <h1>Profile</h1>

<tr>
  <th> Name </th>
<th> <%= @professor.name %></th>
<div class="col-md-3">
  <%= image_tag(@professor.image, :class=>'card-img-top ')  %>
</div>
</tr>

<tr>
    <th> Surname </th>
<th> <%= @professor.surname %></th>

</tr>
<tr>
    <th> Courses </th>
  <th> <%= @professor.courses %></th>
  </tr>
  <th> Publications </th>
<th> <%= @professor.publications %></th>

    </div>
</table>
</div>
  </div>
