<%= form_with(model: confirmation, local: true) do |form| %>
  <% if confirmation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(confirmation.errors.count, "error") %> prohibited this confirmation from being saved:</h2>

      <ul>
      <% confirmation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :svrha %>
    <%= form.text_field :svrha, class:"form-control col-sm-5", id: :confirmation_svrha %>
  </div>

  <div class="form-group">
    <%= form.label :ime %>
    <%= form.text_field :ime,class:"form-control col-sm-5", id: :confirmation_ime %>
  </div>

  <div class="form-group">
    <%= form.label :prezime %>
    <%= form.text_field :prezime,class:"form-control col-sm-5", id: :confirmation_prezime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
